.placeOrderContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.deliveryDetailsBox{
    flex: 1;
    margin-right: 10px;
    max-width: 350px;
    min-height: 100px;
}
.orderSummary{
    flex: 2;
    max-width: 400px;
    min-height: 100px;
}
.mapboxgl-marker {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    background-color: red; /* Adjust the color as needed */
    border-radius: 50%; /* Makes it round, adjust as needed */
  }