.backgroundPic {
  background-image: url('../../img/yummyDashBackground.png' );
  background-size: cover; /* Adjust background size as needed */
  background-repeat: no-repeat;
  background-position: center center;
  
  .skipMainpage {
    height: 950px;
    
    p {
      color: white;
    }
  }
}
// better work easy 
// es lint - rules foe  
// mrger  format file on save
// implementation of es lint 
// 
