.backgroundPic {
  background-image: url('../../img/yummyDashHome.png' );
  background-size: cover; /* Set the height to 50% of the container's height */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  position: relative;
  width: 100%;
}
