.background-pic {
    background-image: url('../../img/yummyDashBackgroundImage.jpg');
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat;
  }
.skip-mainpage{
    height:950px;
}
.skip-mainpage p{
  color: white;
}