.background-pic {
    background-image: url('../../img/skipwhitelogo.webp');
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat;
  }
.skip-mainpage{
    height:950px;
}