
.carousel__wrapper {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 920px;

  h1 {
    font-size: 24px;
    font-family: 'Arsenal', sans-serif;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0;
    padding-top: 32px;
    padding-bottom: 24px;
  }
}
