.swiper__wrapper {
  .swiper__card {
    width: 223px;
    height: 149px;
    border-radius: 4px;
    background: linear-gradient (rgba(255, 255, 255, 0) 15%, rgba(0, 0, 0, 0.6) 100%);
    p {
      position: absolute;
      bottom: 12px;
      left: 12px;
      color: rgb(255, 255, 255);
      font-size: 14px;
      line-height: 17px;
    } 
  }
  .swiper__card.selected .checkIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px; 
    z-index: 1;
  }

  :global {
    .swiper {
      position: relative;
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      background-color: white;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-radius: 50%;
      color: black !important;
      font-weight: 600;
      width: 36px;
      height: 36px;
      top:50%;

      &:active {
        background-color: white; 
        color: black; 
      }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      display: flex;
      font-size: 16px !important;
      text-align: center;
      align-content: center;
    }

    .swiper-button-next {
      right: -23px;
    }

    .swiper-button-prev {
      left: -23px;
    }
  }
}

.restaurant__wrapper{
  .restaurant__list{
    margin-top:15px;
  }

}
