* {
  font-family: 'Arsenal', sans-serif;
}

.orderSummary {
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0px -2px 4px 0px rgba(0, 0, 0, 0.05);

  .orderSummary__wrapper {
    .orderSummary__header {
      padding: 25px 0 25px 0;
      border-bottom: 1px solid rgb(245, 243, 241);
      margin-left: 0;
      margin-right: 0;

      h2 {
        padding-left: 25px;
      }
    }

    .orderSummary__main {
      border-bottom: 1px solid rgb(245, 243, 241);
      padding-bottom: 25px;

      h3 {
        margin: 25px;
      }

      .orderSummary__dishes {
        padding: 0px 25px 5px 25px;
        display: flex;

        p {
          font-size: 16px;
        }

        .orderSummary__quantity {
          width: 25px;
        }

        .orderSummary__name {
          width: 200px;
        }

        .orderSummary__price {
          width: 75px;
          text-align: right;
        }
      }
    }

    .orderSummary__checkout {
      padding: 25px;

      button {
        background-color: #f36805;
        color: #fff;
        border: none;
        border-radius: 50em;
        margin-top: 36px;
        cursor: pointer;

        h3 {
          padding: 7px 68px;
          margin: 0;
        }
      }
    }
  }
}

.processing {
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0px -2px 4px 0px rgba(0, 0, 0, 0.05);

  .processing__wrapper {
    .processing__header {
      padding: 25px 0 5px 0;
      border-bottom: 1px solid rgb(245, 243, 241);
      margin-left: 0;
      margin-right: 0;

      h2 {
        padding-left: 25px;

        span {
          font-size: 16px;
          font-weight: normal;
        }
      }

      h2:last-child {
        padding-top: 25px;
      }
    }

    .processing__main {
      border-bottom: 1px solid rgb(245, 243, 241);
      padding-bottom: 25px;

      .processing__dishes {
        padding: 25px 25px 5px 25px;
        display: flex;

        p {
          font-size: 16px;
        }

        .processing__quantity {
          width: 25px;
        }

        .processing__name {
          width: 200px;
        }

        .processing__price {
          width: 75px;
          text-align: right;
        }
      }
    }
  }
}
