.backgroundPic {
  background-image: url("../../../img//yummyDashHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  overflow: hidden !important;
}

/* Media query for screens up to 767px wide (small screens) */
@media (max-width: 767px) {
  .backgroundPic {
    height: 999px;
  }
}

// /* Media query for screens between 768px and 1023px wide (medium screens) */
@media (min-width: 768px) and (max-width: 1023px) {
  .backgroundPic {
    height: 999px;
  }
}

// /* Media query for screens 1024px and wider (large screens) */
@media (min-width: 1024px) {
  .backgroundPic {
    height: 745px;
  }
}
