.backgroundPic {
  background-image: url("../../../img/yummyDashHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  overflow: hidden !important;
  height:100vh;
}
